.Card {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.avatar {
    object-fit: contain;
}

.name {
    font-size: larger;
}

.email {
    font-size: large;
    font-style: italic;
}